@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6 col-sm-12 mt-lg-0 mt-4">
            <h2><span id="w3HBST" class="title-small">Hello</span></h2>
            <h1 id="w3HBT" class="mb-2 fw-bold title"> <span >I'm </span> Erhieyovwe Mary</h1>
            <h1 id="w3HBDT" class="mb-4 title">a <span class="typed-text font-italic"></span><span class="cursor">&nbsp;</span></h1>
            @*<p id="w3HBP"> *@
                
            <div class="mt-sm-5 mt-4">
                <a class="btn btn-primary btn-style mr-2" asp-action="about" asp-controller="home">
                    My Story </a>
                <a class="btn btn-outline-primary btn-style mr-2" asp-action="all" asp-controller="Project">
                    Portfolio </a>
            </div>
        </div>
        <div class="col-lg-5 offset-lg-1 col-md-8 col-sm-10 mt-lg-0 mt-4 px-lg-5">
            <div class="main-image text-lg-center">
                <img src="~/images/mary.png" style="border-radius:50%" class="img-fluid ">
            </div>
        </div>
    </div>
</div><!-- End Hero -->
 
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Me</h2>
          <h3><span>How it all Began</span></h3>
          <p>I began my career as a graphics designer in year 2020. Now I am a <span>Software Engineer.</span> </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos-delay="100">
            <img src="~/images/mary.png" style="border-radius:50%"class="img-fluid">
          </div>
          
          <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos-delay="100">
            
            <p class="fst-italic">
                I'm very passionate about creating and inventing new stuffs. That curiosity pushed me into graphics designing. There after, gradually
                entered into the coding industry. 
            </p>
            <ul>
              <li>
                <i class="bx bx-store"></i>
                <div>
                  <h5>Bring solving to real world situation, is my main goal.</h5>
                </div>
              </li>
              <li>
                <i class="bx bx-images"></i>
                <div>
                  <h5>Touching lives, bringing change and imparting values through designing beautiful Website, sustainable, high-performance branded products in my key focus </h5>
                </div>
              </li>
            </ul>
            <p>
              <strong>Motto:</strong> <i>To inspire and motive people to push on and never to give up</i>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
<section id="skills" class="skills">

    <div class="container" data-aos="fade-up">

        <div class="row skills-content">

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">HTML <i class="val">100%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">CSS <i class="val">50%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">JavaScript <i class="val">25%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <div class="progress">
                    <span class="skill">ASP.NET | ASP.NET CORE MVC <i class="val">20%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">React <i class="val">10%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="progress">
                    <span class="skill">Corel Draw <i class="val">85%</i></span>
                    <div class="progress-bar-wrap">
                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section><!-- End Skills Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      @*<div class="container">*@
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p>Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1" class="purecounter"></span>
              <p>Teams</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    
<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
    <div class="container" data-aos="zoom-in">

        <div class="testimonials-slider swiper" data-aos-delay="100">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/images/mary.png" class="testimonial-img" alt="">
                        <h3>Mary E</h3>
                        <h4>Ceo &amp; Founder</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            A Fullstack Software Engineer.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/images/bestie.jpg" class="testimonial-img" alt="">
                        <h3>Ruth J. Jacob</h3>
                        <h4>Designer</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            A Graphics Designer and Frontend Developer.
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/images/1.jpg" class="testimonial-img" alt="">
                        <h3>Jena Karlis</h3>
                        <h4>Store Owner</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            A Project Manager and Frontend Developer.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <img src="~/images/2.jpg" class="testimonial-img" alt="">
                        <h3>John Larson</h3>
                        <h4>Entrepreneur</h4>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            A Graphics Designer.
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                    </div>
                </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Testimonials Section -->
    
<!-- /typing-text-->
<script>
    const typedTextSpan = document.querySelector(".typed-text");
    const cursorSpan = document.querySelector(".cursor");
    const textArray = ["Software Engineer", "Freelancer", "Graphics Designer", "Enthusiastic"];
    const typingDelay = 200;
    const erasingDelay = 10;
    const newTextDelay = 100; // Delay between current and next text
    let textArrayIndex = 0;
    let charIndex = 0;
    function type() {
        if (charIndex < textArray[textArrayIndex].length) {
            if (!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
            typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
            charIndex++;
            setTimeout(type, typingDelay);
        } else {
            cursorSpan.classList.remove("typing");
            setTimeout(erase, newTextDelay);
        }
    }
    function erase() {
        if (charIndex > 0) {
            // add class 'typing' if there's none
            if (!cursorSpan.classList.contains("typing")) {
                cursorSpan.classList.add("typing");
            }
            typedTextSpan.textContent = textArray[textArrayIndex].substring(0, 0);
            charIndex--;
            setTimeout(erase, erasingDelay);
        } else {
            cursorSpan.classList.remove("typing");
            textArrayIndex++;
            if (textArrayIndex >= textArray.length) textArrayIndex = 0;
            setTimeout(type, typingDelay);
        }
    }
    document.addEventListener("DOMContentLoaded", function () { // On DOM Load initiate the effect
        if (textArray.length) setTimeout(type, newTextDelay + 250);
    });
</script>

<script src="~/js/main.js"></script>

<!-- Vendor JS Files -->

<script src="~/vendor/purecounter/purecounter.js"  asp-append-version="true"></script>
<script src="~/vendor/aos/aos.js"  asp-append-version="true"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"  asp-append-version="true"></script>
<script src="~/vendor/glightbox/js/glightbox.min.js"  asp-append-version="true"></script>
<script src="~/vendor/isotope-layout/isotope.pkgd.min.js"  asp-append-version="true"></script>
<script src="~/vendor/swiper/swiper-bundle.min.js"  asp-append-version="true"></script>
<script src="~/vendor/waypoints/noframework.waypoints.js"  asp-append-version="true"></script>
<script src="~/vendor/php-email-form/validate.js"  asp-append-version="true"></script>
<!-- //typig-text-->
